*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: ;
    background-color: rgb(4, 4, 224);
    
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
     font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: ;
    background-color: rgb(4, 4, 224);
    margin-bottom: 50px;

}

.meio{
    padding: 200px;
    text-align: left;
   background-color: blanchedalmond;
   font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 26, 129);
}

h2{
    text-align: left;
    margin-bottom: 10px;
}

h3{
    font-weight: bold;
    display: block;
    font-size: 17px;
    text-align: justify;
}
.foto{
    position: relative;
    left: 1150px;
    width: 450px;
    height: 350px;
    border-radius: 5px;
}
.destaque{
    font-size: 25px;
    padding: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

h4{
    margin-bottom: 200px;
}