*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    padding: 120px;
    color: white;
    font-size: 25px;
    font-family: ;
    background-color: rgb(4, 4, 224);
    
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
     font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: ;
    background-color: rgb(4, 4, 224);
    margin-bottom: 30px;

}

.meio{
    padding: 120px;
    text-align: left;
   background-color: blanchedalmond;
   font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 26, 129);
}

h2{
    text-align: left;
    margin-bottom: 10px;
}

h3{
    text-align: justify;
}

img{
    text-align: right;
    border-radius: 30px;
}

.destaque{
    font-size: 25px;
    padding: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

h4{
    margin-bottom: 120px;
}