*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: ;
    background-color: rgb(4, 4, 224);
    
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
     font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: ;
    background-color: rgb(4, 4, 224);
    margin-bottom: 50px;

}

.meio{
    display: flex;
    padding: 200px;
   
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 26, 129);
}
.texto{
    background-color: blanchedalmond;
    display: inline-block;
    margin-left: 190px;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 5px;
    padding-top: 100px;
}

h2{
    text-align: left;
    margin-bottom: 10px;
}

h3{
    
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 17px;
    text-align: justify;
    font-weight: normal;
}
.foto{
    margin-left: 50px;
    width: 450px;
    height: 350px;
    border-radius: 5px;
}
.destaque{
    font-size: 25px;
    padding: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 100px;
}

.cartas{
    display: flex; /* deixa os cards lado a lado */
    justify-content: center; /* centraliza os cards */
    gap: 50px; /* espaço entre os cards */
    margin-top: 10px;
    flex-wrap: wrap; /* faz quebra em telas menores */
   padding: 2px;
}

.carta {
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
    padding: 15px;
    text-align: center;
    
}

.carta img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* mantém proporção e corta excesso */
    border-radius: 5px;
    margin-bottom: 10px;
}

.carta h5 {
    font-size: 18px;
    margin-bottom: 8px;
    color:rgb(26, 26, 129);;
}

.carta p {
    background-color:  blanchedalmond;
    font-size: 14px;
    color: rgb(26, 26, 129);;
   
}

.carta:hover{
     background-color:  white;
}
h4{
    margin-bottom: 200px;
}

.contato{


}

form{
    padding: 50px;
    text-align: center;
     background-color:rgb(26, 26, 129);
}
label{
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
 label .mensagem{
 position: relative;
 right: 100px;
 left: 5px;
 }

 input.mensagem{
    text-align: left;
    position: relative;
    height: 100px;
 }

input{
    color:black;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

button{
    text-align: center;
    color: white;
    background-color:brown;
    height: 50px;
    border-radius: 10px;
    width: 200px;
}


footer{
    background-color:brown;
    padding: 20px;
    text-align: center;
}
h6{
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
}
h7{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
}
a{
    background-color: blue;
    color: white;
}

h8{
    display: inline;
    color: white;
}

h9{
    color: white;
    padding-top: 50px;
    margin-bottom: 20px;
}

.contato{
    padding-bottom: 30px;
}