<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Bem-vindo</h2>
            <div class="form-footer">
                <p>Escolha uma opção:</p>
                <a href="{{ url_for('login') }}" class="btn" style="margin-bottom: 10px;">Fazer Login</a>
                <a href="{{ url_for('register') }}" class="btn">Cadastrar</a>
            </div>
        </div>
    </div>
</body>
</html>