nav{



    background-color: rgb(6, 75, 224);
    margin: 22px;


}


/*Criando o menu estilizado Simples*/
ul{

   /*Alinha os itens na horizontal*/
   display: flex;


}

li{


    /*Tira as Bolinhas dos itens*/
    list-style-type: none;
    
    padding: 20px;

}


a{



   /*Tira o sublinhado do link*/
   text-decoration: none;
   color: azure;
   font-weight: bold;
   font-size:  22px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

a:hover{
    
    color: rgb(189, 228, 15);
    text-decoration: overline;
    background-color: aliceblue;
    padding: 30px;

}

h2{


    padding: 15px;
    margin-left: 20px;
    margin-right: 80px;
    background-color: #BDC;
    color: blue;
    border: 1px solid blue;

}

img{

    /*Largura*/
    width: 600px;

    /*Altura*/
    height: 400px;
    padding-left: 300px;
    margin-top: 50px;

    

}

div{

    display: flex;
}

p{

    margin-right: 70px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 50px;
}