body {
    font-family: 'Arial', sans-serif;
    background-color: #006633; /* Verde Palmeiras */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgba(0, 51, 0, 0.9);
    border: 2px solid #009933;
    border-radius: 12px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 25px #009933;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

h1 {
    color: #00cc44;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.escudo {
    width: 160px;
    height: auto;
    margin-bottom: 60px;
    border-radius: 10px;
    filter: 
        drop-shadow(0 0 10px #08160d) /* brilho verde em volta */
        saturate(1.3) /* cores mais vivas */
        brightness(1.1); /* um pouco mais claro para destacar */
}


.question {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.question.active {
    opacity: 1;
    transform: translateY(0);
}

label {
    display: block;
    background: rgba(0, 204, 68, 0.1);
    border: 1px solid #00cc44;
    border-radius: 6px;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
    color: #d0f0c0;
}

label:hover {
    background: rgba(0, 204, 68, 0.3);
}

button {
    background-color: #009933;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #006622;
    transform: scale(1.05);
}

#resultado {
    margin-top: 20px;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #00cc44;
}

#resultado img {
    margin-top: 15px;
    width: 120px;
    height: auto;
    filter: drop-shadow(0 0 6px #00cc44);
}

.controls {
    margin-top: 20px;
}
