*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: white;


}

.fundo{
    
    align-items: center;
    justify-content: center;
    display: flex;
  background-color: rgb(184, 7, 7);
    padding: 20px;
    border-radius: 10px;
    

}

.calculadora{
flex-direction: column;
justify-items: center;
align-items: center;
display: flex;
padding: 50px 50px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
border-radius: 50px;
background-color: rgb(233, 230, 232);
}


input{
    text-align: center;
    background-color: black;
    color: white;
    width: 209px;
    height: 50px;
    position: relative;
    up: 100px;
}

button{
    color: white;
    background-color: black;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

.a{
background-color: blue;

}
.botao_0{
    padding: 12px 12px;
    margin: 50px;
    width: 50px;
}

.maior{
    position: relative;
    right: 26px;
    width: 103px;
}

.menor{
    position: relative;
    right: 29px;
}