nav{


justify-content: center;
background-color: orange;
border-bottom: 4px solid rgb(177, 114, 5);
margin: 0px;


}

img{

    padding: center;
    width: 200px;
    height: 200px;
    padding-left: 20px;
    margin-top: 20px;
    color: orange;
    border: 100px;

    
}

div{
justify-content: center;
display: flexbox;
border-top: orange ;
border-bottom: 1000px;
}

banner{

   position: relative;
    width: 100%;
    height: 400px;
    background: url("..//CSS-002/img/img1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}
.texto-banner p{
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* fundo transparente pra destacar texto */
    padding: 20px;
    border-radius: 10px;
    
}
.texto-banner h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 10px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 200px;
}


ul{

   justify-content: center;
   display: flex;


}

li{
    
    text-align: center;
    list-style-type: none;
    padding: 20px;
    font-weight: bold;
    background-color: orange;
    justify-content: center;

}
banner{

    width: 1000;
}

footer{
    background-color: rgb(255, 123, 0);
    text-align: justify;
    border-top: 4px solid rgb(255, 94, 0);
    font-size: 20px;
}
h{
    padding-top: 5px;
    text-align: center;
    color: black;
    padding-bottom: 13px;
}
h4{
    padding-right: 100px;
}
h5{
    justify-content: center;
    padding-right: 50px;
    font-weight: normal;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button{

   display: flex;
   justify-content: center;
   padding: 8px 20px;
   background-color: orange;
   font-size: 14px;
   border: none;
   border-radius: 0;
   color: white;
   cursor: pointer;
  

}
h4{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}
/*fim*/