*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

nav{

justify-content: center;
background-color: orange;
border-bottom: 4px solid rgb(177, 114, 5);
margin: 0px;


}

nav a{

    color: black;
    text-decoration: none;
}
h1{
    text-align: center;
    color: orange;
    margin-top: 40px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh; /* Faz com que o corpo da página ocupe 100% da altura da tela */
    display: flex;
    flex-direction: column; 
    background-color: #eaf6ff;
}

img{

    padding: center;
    width: 200px;
    height: 200px;
    padding-left: 20px;
    margin-top: 20px;
    color: orange;
    border: 100px;

    
}

div{
justify-content: center;
display: flexbox;
border-top: orange ;
border-bottom: 1000px;
}

banner{

   position: relative;
    width: 100%;
    height: 400px;
    background: url("..//CSS-002/img/img1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}
.texto-banner p{
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* fundo transparente pra destacar texto */
    padding: 20px;
    border-radius: 10px;
    
}
.texto-banner h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 10px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 200px;
   
}


ul{

   justify-content: center;
   display: flex;
   color: black;
   text-decoration: none;

}

li{
    
    color: black;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    font-weight: bold;
    background-color: orange;
    justify-content: center;

}
banner{

    width: 1000;
}

footer{
   background-color: rgb(255, 123, 0);
    text-align: center;
    padding: auto;
    padding-bottom: 13px;
    
}
h3{
    color: orange;
margin:auto;
padding: 50px;

}
h4{
    padding-right: 50px;
}
h5{
 font-size: 10px; 
    font-family: Arial, Helvetica, sans-serif;
}
button{

   display: flex;
   justify-content: center;
   padding: 8px 20px;
   background-color: orange;
   font-size: 14px;
   border: none;
   border-radius: 0;
   color: white;
   cursor: pointer;
   margin-right: 10px;
   margin-top: 100px;
   margin-bottom: 15px;
   text-align: center;

}
h4{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}

h5{
    padding-top: 14px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
    padding-bottom: 13px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}
.formulario{
  display: inline;
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  background-color: #eaf6ff;
  padding: 0px;
  border-radius: 50px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);

}

.formulario label{
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.formulario input,
.formulario textarea {
    width: 100%;       /* Ocupa toda a largura do container */
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}


.formulario button {
  margin-top: 15px;
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover {
  background-color: #e67e22;
}

.whatsapp {
  text-align: center;
  margin-top: 30px;
}

.whatsapp a {
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}

.whatsapp a:hover {
  background-color: #1ebe57;
}


/*fim*/